@using System.Web.Mvc;
@model StomatologyMVC.Models.ApplicationViewModels

@{
        if (ViewBag.Role != "Admin")
        {
            if (ViewBag.Times != null)
            {
                <option value="0">Выбирите время</option>
                foreach (var b in ViewBag.Times)
                {
                    <option value="@b">@b.ToString("HH:mm")</option>
                }
            
            }
        }
    else if (ViewBag.Role == "Admin")
    {
        <select class="btn dropdown-toggle btn-default" data-val="true" id="Time" name="Time" type="text">
            @if (ViewBag.Times != null)
            {
                foreach (var b in ViewBag.Times)
                {
                    <option value="@b">@b.ToString("HH:mm")</option>
                }
            }
        </select>
    }
}